<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
   <add name="RegistrationSystem.Properties.Settings.group5ConnectionString"
            connectionString="Data Source=143.128.146.30\ist3;Initial Catalog=group5;User ID=group5;Password=v7qzsf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>